.header-container {
    margin: auto;
    border-bottom: solid 1px var(--soft-bg-clr);
    height: 8vh;
}

.main-header {
    width: 90%;
    margin: auto;
    align-items: center;
    z-index: 100;
}

.nav-list {
    gap: 1.5rem;
    justify-content: flex-end;
}

.main-nav {
    flex-basis: 20%;
}

.main-nav {
    font-size: 1.5rem;
    line-height: 6rem;
}

.logo-box {
    cursor: pointer;
    align-items: center;

}

.logo-box img {
    margin-inline-end: 1rem;
    width: 20px;
}