.hero {
    display: flex;
    justify-content: space-between;
    height: 92vh;
    align-items: center;
}

.hero-text {
    flex-basis: 40%;
    color: var(--main-txt-clr);
    justify-self: center;
    text-align: end;
    /* margin-inline-start: 14rem; */
    font-size: 5.7rem;
}

.hero-text h3 {
    font-size: 3rem;
    font-weight: 300;
}

.a-logo {
    font-family: 'Limelight', cursive;
}

.feature-container {
    position: relative;
    background-image: url('../../assest/images/gradient.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}

.features-section {
    height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.gradient {
    position: absolute;
    bottom: 0;
}

.features-title {
    padding-top: 4rem;
    color: var(--main-txt-clr);
    flex-basis: 30%;
    font-size: 3.4rem;
    text-align: center;
}

.features-cards {
    flex-basis: 40%;
    /* align-items: center; */
    justify-content: space-between;
    color: var(--main-txt-clr);
}

.feature-card {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-inline: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    z-index: 53;
}


.feature-card h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.feature-card p {
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.feature-link {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

.footer {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2rem;
    font-weight: 300;
    z-index: 49;
}

@media screen and (max-width: 750px) {

    .hero {
        flex-direction: column;
        justify-content: center;
    }

    .hero-text {
        text-align: center;
        font-size: 3rem;
        margin-top: 7rem;
    }

    .hero-text h3 {
        font-size: 2rem;
    }

    .hero img {
        flex-basis: 30%;
        width: 300px;
        transform: rotate(90deg);
    }

    .features-section {
        height: fit-content;
        width: 100%;

    }

    .features-cards {
        flex-direction: column;
        align-items: center;
    }

    .features-title {
        margin-bottom: 6rem;
    }

    .feature-card {
        margin-bottom: 6rem;
        width: 70%;
        height: 250px;
    }

    .feature-card:last-child {
        margin-bottom: 10rem;
    }

    .footer {
        font-size: 1.5rem;
    }
}