/* Medium Screen*/
@media (max-width: 1080px) {}

@media (max-width: 700px) {
    .side-bar-keep {

        overflow-x: hidden;
    }

    .side-bar-keep span {
        visibility: hidden;
    }

    .keep-bar-btn {
        text-align: center;
        padding: 1rem 2rem;
    }

    .input-container {
        padding-inline: 3rem;
    }
}