/* Medium Screen*/
@media (max-width: 1080px) {
    .side-bar-keep {
        display: none;
        z-index: 100;
        height: 50vh;
        /* flex-basis: 20%; */
        min-width: 2rem;
        border-right: solid 1px var(--soft-bg-clr);
        padding: 1rem;
    }

    .side-bar-keep span {
        visibility: hidden;
    }


}

@media (max-width: 700px) {
    /* .notes-list ul {
        grid-template-columns: repeat(2, 15rem);
        grid-gap: 3rem;
    }

    .input-container {
        flex-direction: column;
        padding: 0.5rem;
        gap: 0;
    } */
}