.note-preview-container {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem;
    padding: 2em;
    overflow-wrap: break-word;
}

.note-preview-container img, iframe {
    border-radius: 0.3rem;
    width: 100%;


}


.note-preview-container  h3 {
    font-weight: bold;
    position: relative;
    padding-bottom: 1rem;
    font-size: 18px;
 }

 .note-preview-container p {
    margin-top: 0;
    font-size: 15px;
 }


.type-todo ul{
     flex-direction: column;
     padding: 2rem;
     font-size: 1.5rem;
     max-height: 13rem;
     overflow-y: scroll;
     overflow-x: hidden;
}

.type-todo li {
    list-style: disc;
    display: list-item;
}

.edit-btns-container {
    display: flex;
    gap: 1rem;
    justify-content: end;
    padding-right: 3rem;
    padding-top: 2rem;
}




.edit-btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: -2px;
    margin: 0;
}

.input-color {
    width: 0;
    height: 0;
    opacity: 0;
}

.font-color-btn {
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 0.4rem;
}

.todo-txt {
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

#todo-input {
    background: none;
    border-bottom: solid 0.1em rgb(184, 181, 181);
    font-size: 1.6rem;
}

.plus-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 3rem;
    border: none;
}

.audio-player {
    max-width: 24rem;
}