.notes-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.notes-list ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: flex-start;
    grid-auto-flow: dense;
}



.note-preview-contianer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1em;
    width: 27.5em;
    overflow-wrap: break-word;
    /* text-overflow: ellipsis; */
    border: 2px solid var(--soft-bg-clr);
    border-radius: 5%;
}

.note-preview-contianer img, iframe {
    width: 25em;
    border-radius: 5%;
    padding-bottom: 2em;
}
.note-preview-contianer:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.note-preview-contianer h3, p {
    font-size: 2em;
}