.txt-input {
    height: 2rem;
    border: none;
    margin: 0;
    font-size: 1.6rem;
    margin: 0 !important;
}

.title-input {
    border: none;
    height: 3rem;
    font-size: 1.6rem;
    margin: 0 !important;
}

.txt-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 1rem;
}

.note-type-btn {
    border: none;
    background: none;
    color: lightgray;
    padding: 0.5rem;
   
}

.input-container {
    max-width: 40rem;
    margin: auto;
    margin-block: 3rem;
    display: flex;
    align-items: center;
    padding: 0.8rem;
    border-radius: 3rem;
    justify-content: space-evenly;
}

.text_area {
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
    /* padding: 2rem; */
    height: 5rem;
    background: white;
    /* overflow: auto; */
    overflow-y: scroll;
    padding-left: 3rem;
}

.text_area li {
    list-style: disc;
    font-size: 1.3rem;
}

.add-note-btn {
    width: 7rem;
    font-size: 1rem;
    background: none;
    border: none;
    text-decoration: underline;
    text-align: left;
    font-weight: bold;
}



.type-active {
    color: black;
    background-color: white;
}