.notes-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.notes-list ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: flex-start;
    grid-auto-flow: dense;
}



