
.compose-btn span {
    margin-inline-end: 1rem;
    color: var(--main-brand-clr);

}

.compose-btn:hover {
    box-shadow: 1px 2px 8px var(--sub-txt-clr);
    color: var(--main-txt-clr);
}

.side-bar-items-keep {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.keep-bar-btn {
    width: 80%;
    margin: auto;
    text-align: start;
    padding: 1.3rem 1rem;
    font-size: 1.3rem;
    color: var(--main-txt-clr);
    border: none;
    background: none;
}

.side-bar-btn:hover {
    background-color: var(--bg-gray);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


.side-bar-keep{

    border-right: solid 1px var(--soft-bg-clr);
    grid-column: 1;

}

.active {
    color: #d93025;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--mail-brand-bg);
}