.txt-input {
    height: 5rem;
    border: none
}

.title-input {
    border: none;
    height: 3rem;
}

.txt-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}