.notes-list-container {
    align-items: center;
    flex-direction: column;
}

.notes-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25.625rem, 1fr));
    grid-gap: 2rem;
    padding: 1em;
    align-items: flex-start;
    grid-auto-flow: dense;    
}



.pinned-header {
    align-self: flex-start;
    padding-left: 2rem;
    font-family: inherit;
}

.focused {
    position: absolute;
    z-index: 100;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    min-width: 35rem;
    animation: fadeIn 0.5s;
    
}

.selected-note span{
    color: white;
    font-weight: bold;
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 2rem;
    cursor: pointer;
}