.mail-side-bar {
    flex-basis: 20%;
    border-right: solid 1px var(--soft-bg-clr);
    padding: 1rem;
    margin-inline: 3rem;
}

.compose-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    margin-block: 2rem;
    padding: 0 2rem;
    line-height: 4rem;
    border-radius: 1rem;
    transition: box-shadow .3s;
    color: var(--sub-txt-clr);
}

.compose-btn span {
    margin-inline-end: 1rem;
    color: var(--main-brand-clr);

}

.compose-btn:hover {
    box-shadow: 1px 2px 8px var(--sub-txt-clr);
    color: var(--main-txt-clr);
}

.side-bar-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.side-bar-btn {
    display: block;
    width: 100%;
    text-align: start;
    padding: 1.3rem 0;
    font-size: 1.3rem;
    color: var(--main-txt-clr);
    border: none;
    background: none;
}

.side-bar-btn:hover {
    background-color: var(--bg-gray);
}

.side-bar-btn span {
    margin-inline-end: 1em;
}