.mail-list {
    flex-basis: 80%;
}


.no-result-msg {
    margin: auto;
    text-align: center;
    padding: 1rem;
    border-bottom: solid 1px var(--bg-gray);

}

.no-result-msg h2 {
    font-weight: 400;
}

.clear-trash-btn {
    text-align: center;
    display: block;
    margin: auto;
    border: solid 1px var(--dark-bg);
    padding: 1rem 2rem;
    background-color: var(--bg-gray);
    border-radius: 1rem;
    color: var(--sub-txt-color);

}

.clear-trash-btn span {
    margin-inline-end: 1rem;

}