* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
    display: flex;
    /* padding: 5rem; */
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.overlay {
    position: fixed;
    padding-top: 3rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 10;
    transition: all 0.5s;
}

.router-link {
    color: var(--main-txt-clr);
    text-decoration: none;
}


[data-title]:hover:after {
    opacity: .7;
    transition: all 0.1s ease 0.9s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: var(--dark-bg);
    color: white;
    font-size: 1.2rem;
    position: absolute;
    padding: .5rem 1rem;
    bottom: -2.6em;

    border-radius: .5rem;
    white-space: nowrap;
    opacity: 0;
    z-index: 6799;
    visibility: hidden;
    transform: translateX(-50%);
}

[data-title] {
    position: relative;
}


.pop-up-msg {
    position: fixed;
    bottom: 30px;
    left: 20px;
    background-color: var(--dark-bg);
    padding: 16px 10px;
    color: white;
    border-radius: .4rem;
    z-index: 495;
    transition: all .4s;
}