.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.thin {
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.expand {
    max-height: 8rem
}

.pinned {
    color: orange !important;
}