/* cmps */
@import './keep-cmps/note-input.css';
@import './keep-cmps/notes-list.css';
@import './keep-cmps/notes-preview.css';
@import './keep-cmps/note-side-bar.css';

/* Media queries */
@import '../keep/keep-cmps/keep-mq.css';

/* Pages */
@import '../keep/note-details.css';

/* Animations */
@import '../../../css/anims.css';

.keep-app-container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.main-container {
    flex-direction: column;
    grid-column: 2;
    padding-inline: 2rem;
}